<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>
  top level: {{ @message }}</br>
  {{#each message}}
    <br>{{id}}: {{name}}</br>
  {{/each}}
</body>

</html>